// Masonry grids as seen on https://foundation.zurb.com/building-blocks/blocks/masonry-css.html


// LAYOUT


$masonry-css-column-gap: $global-margin;

.masonry-css {

  margin-bottom: 50px;

  column-count: 2;
 column-gap: $masonry-css-column-gap;

  @include breakpoint(400px) {
    column-count: 2;
  }

  @include breakpoint(600px) {
    column-count: 2;
  }

  @include breakpoint(800px) {
    column-count: 2;
  }

  @include breakpoint(1100px) {
    column-count: 2;
  }
}

.masonry-css-item {
  break-inside: avoid;
  margin-bottom: $masonry-css-column-gap;
}


// https://www.w3schools.com/howto/howto_css_image_overlay_zoom.asp

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .3s ease;
  background: rgba(86,122,74,1);
background: -moz-linear-gradient(top, rgba(86,122,74,0) 0%, rgba(116,119,72,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86,122,74,0)), color-stop(100%, rgba(116,119,72,1)));
background: -webkit-linear-gradient(top, rgba(86,122,74,0) 0%, rgba(116,119,72,0) 100%);
background: -o-linear-gradient(top, rgba(86,122,74,0) 0%, rgba(116,119,72,0) 100%);
background: -ms-linear-gradient(top, rgba(86,122,74,0) 0%, rgba(116,119,72,0) 100%);
background: linear-gradient(to bottom, rgba(86,122,74,0) 0%, rgba(116,119,72,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#567a4a', endColorstr='#747748', GradientType=0 );
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  opacity: 1;
  background: rgba(86,122,74,1);
  background: -moz-linear-gradient(top, rgba(86,122,74,0.95) 0%, rgba(116,119,72,0.95) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(86,122,74,0.95)), color-stop(100%, rgba(116,119,72,1)));
  background: -webkit-linear-gradient(top, rgba(86,122,74,0.95) 0%, rgba(116,119,72,0.95) 100%);
  background: -o-linear-gradient(top, rgba(86,122,74,0.95) 0%, rgba(116,119,72,0.95) 100%);
  background: -ms-linear-gradient(top, rgba(86,122,74,0.95) 0%, rgba(116,119,72,0.95) 100%);
  background: linear-gradient(to bottom, rgba(86,122,74,0.95) 0%, rgba(116,119,72,0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#567a4a', endColorstr='#747748', GradientType=0 );
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.gallery-text {
  color: #fff;
  //font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


// TAX FILTER: CATEGORY


#tax-filter-category {
  margin: 25px 0 25px 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #567a4a;
  color: white;
}


// TAX FILTER: TAG


#tax-filter-tag {
  margin: 25px 0 25px 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}


// TAX FILTER: RESULTS


.column {
  display: none; /* Hide columns by default */
}

/* The "show" class is added to the filtered elements */
.show-category {
  //display: block;
  // -webkit-transform: scale(1);
  // transform: scale(1);
}

.show-tag {
  //display: block;
  // -webkit-transform: scale(1);
  // transform: scale(1);
}

.show-category.show-tag {
  display: block;
}




// #all:checked  ~ .container .filterDiv{
//   display: block;
// }
//
//
// .filterDiv, :not(#all):checked ~ .container  .filterDiv{
//   display: none;
// }
//
// #cars:checked ~ .container .cars,
// #animals:checked ~ .container .animals,
// #fruits:checked ~ .container .fruits,
// #color:checked ~ .container .colors{
//   display: block;
// }
//
// .container-tags {
//   overflow: hidden;
// }
