.framework-slide {
  background-size: cover !important;
  height: 50vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.framework-slide h2, .framework-slide p a {
  text-shadow: 1px 1px 1px #0a0a0a;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

.owl-prev,
.owl-next {
position: absolute;
top: 42%;
font-size: 50px;
//margin-top: -10px; // Half of the prev/next buttons height here in negatives to center them perfectly
}
.owl-prev {
left: 10px;
color: #fff;
}
.owl-next {
right: 10px;
color: #fff;
}

owl-theme .owl-nav {
    margin-top: 0px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 50%;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
color: #FFE700!important;
font-size: 25px!important;
}
