// WooCommerce

p.cart-empty {
  text-align: center;
}

p.return-to-shop {
  text-align: center;
  text-transform: uppercase;
}

nav.woocommerce-MyAccount-navigation ul {
  list-style-type: none!important;
  margin: 0 0 1rem 0rem;
}

nav.woocommerce-MyAccount-navigation ul li {
  padding-bottom: 24px;
}

.woocommerce-account .woocommerce-MyAccount-content {
  border: 2px solid #eee;
  padding: 24px;
}

.widget_shopping_cart {
	width: 75%;

	.quantity {
		// float: left;
	}
}

.close-button {
  position: fixed;
  margin-top: 25px;
  margin-right: 25px;
  font-size: 60px;
  color: #333;
}

button.close-button:hover {
	background: transparent!important;
}

#site-reveal-sidebar h4  {
  margin-bottom: 50px;
  text-align: center;
}

#site-reveal-sidebar h4 span {
  text-align: center;
  text-transform: none!important;
  font-size: 36px!important;
  border-bottom: 2px solid #333!important;
}

ul.products {
	list-style-type: none;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    text-align: center;
}

// span.onsale {
//     display: block!important;
//     position: absolute!important;
//     top: 15px!important;
//     text-transform: uppercase;
//     font-size: 11px!important;
//     background-color: #567A4A!important;
//     color: #fff;
//     font-weight: bold;
//     padding: 4px 8px 2px 8px!important;
// 		z-index: 1!important;
// }

h2.woocommerce-loop-product__title {
    font-size: 1.275rem;
    margin-top: 25px;
  }

  span.price {
    font-size: 0.8rem;
  }

	.tabs {
	  border: none!important;
	}

	.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #333!important;
}


// Cart widget

ul.woocommerce-mini-cart {
	list-style-type: none;
}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.cart_list li img, .woocommerce-page ul.product_list_widget li img {
  width: 125px;
}

p.woocommerce-mini-cart__empty-message {
  text-align: center;
}

li.woocommerce-mini-cart-item {
  // margin-bottom: 24px!important;
  border-bottom: 1px solid #eee!important;
}

a.remove {
  font-size: 35px;

}

li.woocommerce-mini-cart-item a.remove {
  // margin-right: 24px!important;
  // font-size: 35px!important;
	color: #333!important;
}

p.woocommerce-mini-cart__total, p.woocommerce-mini-cart__buttons {
  text-align: center!important;
}

p.woocommerce-mini-cart__buttons a {
  // display: block!important;
  text-transform: uppercase!important;
}

p.woocommerce-mini-cart__buttons a.wc-forward {
  font-size: 11px!important;
  background-color: #fff!important;
  color: #7c7c80!important;
  border-top: 1px solid #eee!important;
  padding-top: 28px!important;
}

p.woocommerce-mini-cart__buttons a.checkout {
  font-size: 22px!important;
  background-color: #333!important;
  color: #fff!important;
	padding-bottom: 22px!important;
	margin: 0 auto;
	width: 100%;
}

span.header-cart-count {
background-color: #567a4a;
  border-radius: 0.8em;
 -moz-border-radius: 0.8em;
 -webkit-border-radius: 0.8em;
 color: #fff;
 display: inline-block;
 font-weight: bold;
 line-height: 1.6em;
 text-align: center;
 width: 1.6em;
 font-size: 11.5px;
}

span.header-cart-count.in-cart {
//  background-color: #5ae5b8;
}

// Cart

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  width: 100%!important;
}



input#coupon_code {
  width: 100%;
}

ul.wc_payment_methods {
  list-style-type: none;
  margin: 0 0 0 0;
}

a.woocommerce-terms-and-conditions-link {
  text-decoration: underline;
}

.woocommerce #content table.cart img, .woocommerce table.cart img, .woocommerce-page #content table.cart img, .woocommerce-page table.cart img {
    width: 100px;
}

a.woocommerce-product-gallery__trigger {
  position: absolute;
  left: 100;
  top: 0;
}



@include breakpoint(782px up) {

.woocommerce-account .woocommerce-MyAccount-content {
    width: 78%!important;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 20%!important;
}

}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 10px 10px 10px 10px!important;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #ebe9eb;
    border: 0;
    display: inline-block;
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}

nav.between-posts-navigation {
    padding: 12px 0 10px 0;
    text-transform: uppercase!important;
    border-top: 1px solid rgba(0,0,0,0.1);
    //border-bottom: 1px solid rgba(0,0,0,0.1);
    font-size: 12px!important;
}


// Tabs

thead, tbody, tfoot {
    border: none!important;
    background-color: #fff;
    font-size: 18px!important;
}

tr {
  border: none!important;
}

tbody tr:nth-child(even) {
  background-color: #fff!important;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
  background: rgba(0,0,0,0)!important;
}

.woocommerce table.shop_attributes td {
  border-bottom: 1px solid rgba(0,0,0,.1)!important;
}

.woocommerce table.shop_attributes {
  border-top: 1px solid rgba(0,0,0,0)!important;
}

.woocommerce div.product .woocommerce-tabs .panel {
  border-bottom: 1px solid rgba(0,0,0,0.1)!important;
}

.woocommerce table.shop_attributes tr:last-child {
  border-bottom: 1px solid rgba(0,0,0,0)!important;
}

.woocommerce table.shop_attributes tr:last-child td:last-child {
  border-bottom: 1px solid rgba(0,0,0,0)!important;
}


// Cart widget_shopping_cart

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
  width: 65px!important;
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
    border-top: 0px double #ebe9eb!important;
    padding: 24px 0 0!important;
}

.widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
    margin-top: 25px!important;
}

.product .star-rating span:before,
.product .star-rating:before {
    color: #6E4A7A;
}
