/* (Formidable) Forms */

legend {
  color: #333;
  font-size: 30px;
}

button.frm_button_submit {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 24px;
  text-transform: uppercase;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    margin: 0 0 1rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
    appearance: none;
  //  cursor: pointer;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number'], [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
  background-color: #eee;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    background-color: none;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #333;
}

input, textarea {
  padding: 0!important;
}

input.qty {
  padding-left: 10px!important;
}

.frm_form_field {

margin-bottom: 30px;

}

button:hover {
  background-color: rgba(0,0,0,0.5);
}
