/******************************************************************

Foundation for Sites by ZURB
foundation.zurb.com

Here we import the Foundation 6 Framework.

We include all components by default. Child themes may want to comment
out some of these mixins.

Inti Foundation uses standard float grids, not flex grids.

******************************************************************/

// Import local Foundation overrides
@import "settings";

// Import foundation.scss from vendor files
@import "../../../node_modules/foundation-sites/scss/foundation";

// Import Motion-UI from vendor files
@import "../../../node_modules/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;

  // @include foundation-prototype-classes;

  @include foundation-flex-classes;
  @include foundation-xy-grid-classes;

  @include foundation-typography;
  @include foundation-forms;
  @include foundation-button;
  @include foundation-accordion;
  @include foundation-accordion-menu;
  @include foundation-badge;
  @include foundation-breadcrumbs;
  @include foundation-button-group;
  @include foundation-callout;
  @include foundation-card;
  @include foundation-close-button;
  @include foundation-menu;
  @include foundation-menu-icon;
  @include foundation-drilldown-menu;
  @include foundation-dropdown;
  @include foundation-dropdown-menu;
  @include foundation-responsive-embed;
  @include foundation-label;
  @include foundation-media-object;
  @include foundation-off-canvas;
  @include foundation-orbit;
  @include foundation-pagination;
  @include foundation-progress-bar;
  @include foundation-slider;
  @include foundation-sticky;
  @include foundation-reveal;
  @include foundation-switch;
  @include foundation-table;
  @include foundation-tabs;
  @include foundation-thumbnail;
  @include foundation-title-bar;
  @include foundation-tooltip;
  @include foundation-top-bar;
  @include foundation-visibility-classes;
  @include foundation-float-classes;


/******************************************************************

Inti Foundation -  a WordPress theme built with ZURB's Foundation
inti.waqastudios.com
foundation.zurb.com

This is the main file for base styles for Inti, whether used as a
parent theme or a standalone theme. Styles can be overwritten with
new styles, or the minimized inti-min.css file can be unqueued
(see styles.php)

******************************************************************/

/**
 * We'll want to enqueue font-awesome separately in WP so that
 * plugins can detect it and not load another copy, but also so
 * we can have the file to include in the Dashboard side... so we
 * use it in WP editor, in shortcodes, etc.
 * @see /framework/extensions/styles.php, /framework/shortcodes/tinymce-functions.php
 */
// @import "../../../node_modules/font-awesome/scss/font-awesome";

/**
 * We might want to enqueue slick-slider in WP so that plugins
 * can detect it and not load another copy. Uncomment this if you want to
 * use it here, remove enqueue if so.
 * @see /framework/extensions/styles.php
 */
// @import "../../../node_modules/slick-carousel/slick/slick.scss";

// Import mixins
@import "mixins";

// Import components
@import "inti-partials/wp-classes";
@import "inti-partials/formatting";
@import "inti-partials/site-header";
@import "inti-partials/navigation";
@import "inti-partials/breadcrumbs";
@import "inti-partials/layout";
@import "inti-partials/posts-pages";
@import "inti-partials/post-formats";
@import "inti-partials/archives";
@import "inti-partials/sidebars";
@import "inti-partials/shortcodes";
@import "inti-partials/comments";
@import "inti-partials/site-footer";
@import "inti-partials/top-bar";
@import "inti-partials/woocommerce";
@import "inti-partials/formidable-forms";
@import "inti-partials/cpt_gallery";

// Import slick slider for inti
@import "slick-inti-theme";

// Import Owl Carousel
@import "inti-partials/owl-carousel-theme";

/* General Inti Styles - fix this */
body { }

body.admin-bar {
	padding-top: 32px;

	@include breakpoint(782px down) {
		& {
			padding-top: 46px !important;
		}
	}
}

* {  outline: 0; }

#page {
	.site-banner {}
	.site-content {

	}
}

// Custom styles Here
// Customs

// Slick Slider

// .slick-prev:before, .slick-next:before { }
//
// .slick-prev:before {
// 	font-family: "Font Awesome 5 Solid";   content: "\f007";
// 	color: #333;
// }
//
// .slick-next {
// }
//
// .slick-next:before {
// 	content: "\f060";
// 	font-family: "Font Awesome 5 Solid";
// 	color: #333;
// }

// Preloader

.preloader-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#567a4a+0,747748+100 */
  background: #747748; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #567a4a 0%, #747748 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #567a4a 0%,#747748 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #567a4a 0%,#747748 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#567a4a', endColorstr='#747748',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 9999999;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.preloader-wrapper .preloader {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    // transform: translate(-50%, -50%);
    // width: 120px;
}

.preloader {
@include mui-animation(fade);
animation-duration: 7s;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

// .owl-carousel {
// 	margin: 0;
// }
//
// .owl-carousel .owl-nav [class*=owl-] {
// 	background: rgba(0, 0, 0, 0.5);
// 	color: rgba(255, 255, 255, 0.9);
// 	font-size: 11px;
// 	width: 30px;
// 	height: 30px;
// 	line-height: 30px;
// 	border-radius: 0;
// 	text-align: center;
// }
//
// .owl-carousel .owl-nav [class*=owl-]:hover {
// 	background: rgba(0, 0, 0, 0.9);
// 	color: #FFF;
// }



$hero-height: 50vh;

.hero-section.static {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#567a4a+0,747748+100 */
  background: #747748; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #567a4a 0%, #747748 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #567a4a 0%,#747748 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #567a4a 0%,#747748 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#567a4a', endColorstr='#747748',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    z-index: 9999999;
    height: 25vh;
}

.hero-section {
  background-size: cover!important;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
  //  text-shadow: 1px 1px 1px $black;
  }

 .hero-section-text h2 {
    margin-bottom: 0px;
  }

  h1 {
    font-size: 75px;
  }
}




// Underline menus

.menu-hover-lines li > a {
  position: relative;
  //color: #000;
  text-decoration: none;
}

.menu-hover-lines li > a:hover {
  //color: #000;
}

.menu-hover-lines li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #567a4a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menu-hover-lines li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




#content { h1, h2, h3, h4, h5, h6 {
  color: #333;
}}

p {
  line-height: 2.14286;
}

#content p {
  font-size: 22px;
}

.sticky {
  z-index: 9999;
}

.reveal {
  z-index: 9999;
}

a.secondary {
  text-transform: uppercase;
  font-size: 14px;
}

#social-follow {
  margin: 12px 0 12px 0;
}

.front-page-social ul.social-icons {
  font-size: 25px;
}

#features {

  img {
    padding-bottom: 25px;
  }

  .front_page_content_1 {
    margin-bottom: 0px;
  }

  margin: 12px 0 24px 0;
}

#about {

  margin: 15px 0 30px 0;

  img {

padding-bottom: 20px;
  }

}

ul.site-navigation li a {
    color: #000;
    font-weight: bold;
}

.top-bar {
ul.site-navigation li.current-menu-item > a {
    text-decoration: none;
    border-bottom: 2px solid #747748;
    color: #000;
}}

body.archive article, body.blog article, body.search-results article {
    margin: 0 0 $masonry-css-column-gap 0;
}

h1.archive-title {
  text-align: center;
}

ul.site-navigation li.current-menu-parent > a, ul.site-navigation li.current-menu-ancestor > a {
  text-decoration: none;
}

blockquote {
  margin: 1rem 0 2rem 0;
  padding: 0.5625rem 1.25rem 1rem 1.1875rem;
  border-left: none;
}

blockquote p {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #747748;
  text-align: center;
  font-size: 40px;
  padding: 1rem 0rem 1rem 0rem;
}

footer .menu a, .menu .button {
  padding: 0.6rem 0rem;
}

ul.products {
  margin-left: 0rem!important;
}

.framework-contact-container {

  label {
    display: none;
  }
  background-color: #eee;
  padding: 100px;
}

div.breadcrumbs.top nav.breadcrumbs {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.breadcrumbs li {
  font-weight: bold;
}

li.trail-item.trail-end {
  font-weight: 400;
}

.site-top-bar-container {

  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #f1f2f4;

}

h3.frm_form_title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
}

.framework-filter {
  border-bottom: 1px solid #eee;
  margin: 0 0 48px 0;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #000;
}

span.price {
  color: rgba(0,0,0,0.5);
}

h2.woocommerce-loop-product__title {
    font-size: 1.475rem;
}


// Add to cart on hover //


// Beginsituatie
// li.product {
//
//   a.add_to_cart_button {
//     display: none;
//   }
//
// }
//
// // Interactie
// li.product:hover {
//
//   a.add_to_cart_button {
//     display: block;
//   }
//
// }

// Button up https://codepen.io/samuelbeard/pen/JmDuf

.buttonn {
  display:inline-block;
  height:60px;
  line-height:60px;
  overflow:hidden;
  position:relative;
  transition:0.3s;
}

/* BUTTON UP */
.label-up {
  display:block;
  height:100%;
  position:relative;
  top:0%;
  transition:0.3s;
}

li.product:hover .label-up {
  top:-100%;
}

a.added_to_cart {
  display: none;
}

a.button {
  font-weight: bold;
}

a:hover {
  color: rgba(0,0,0,0.75);
  text-decoration: underline;;
}


// SECTION TESTIMONIALS

$testimonial-light-blue: rgba($primary-color, 0.25);
$testimonial-block-vertical-bg: $testimonial-light-blue;

#testimonials {
  background-color: #c5d7d9;
  padding: 15px 0 10px 0;
}

.testimonial-block-vertical-quote {
  background: rgba(255, 255, 255, 0.25);
  padding: $global-padding;
  border-radius: $global-radius;
  margin-bottom: 1.875rem;
  position: relative;
  font-size: 18px;

  p {
    margin-bottom: 0;
  }

  &::after {
    content: '';
    bottom: -1.25rem;
    left: 2.25rem;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 1.25rem 1.125rem 0 1.125rem;
    border-color: rgba(255, 255, 255, 0.25) transparent transparent transparent;
    position: absolute;
  }
}

.testimonial-block-vertical {
  padding: 40px 0 30px 0;
}

.testimonial-block-vertical-person {
  display: flex;
  margin-left: 1.65rem;
  align-items: center;
}

// .testimonial-block-vertical-avatar {
//   border-radius: 50%;
//   width: 60px;
//   height: 60px;
// }

.testimonial-block-vertical-name {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 0.65rem;
  font-size: 12px;
}

.testimonial-block-vertical-info {
  text-transform: uppercase;
  font-size: 14px;
  color: 333;
  margin-bottom: 0;
  margin-left: 0.65rem;
}


// SECTION INSTAGRAM FEED

#instagram-feed {
  padding: 48px 0 48px 0;
}




.price_slider{
    margin-bottom: 1em;
}

.price_slider_amount {
    text-align: right;
    line-height: 2.4em;
    font-size: 0.8751em;
}

.price_slider_amount .button {
    font-size:1.15em;
}

.price_slider_amount .button {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 0.9em;
    height: 0.9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: #e7e7e7;
    background: -webkit-gradient(linear,left top,left bottom,from(#FEFEFE),to(#e7e7e7));
    background: -webkit-linear-gradient(#FEFEFE,#e7e7e7);
    background: -moz-linear-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    background: -moz-gradient(center top,#FEFEFE 0%,#e7e7e7 100%);
    outline: none;
    top: -.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(255, 255, 255, 0.65) inset;
}

.ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size:.7em;
    display: block;
    border: 0;
    background: none repeat scroll 0 0 #FF6B6B;
    box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 1px 1px 1px 0.5px rgba(0, 0, 0, 0.25) inset;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #1e1e1e;
    background: -webkit-gradient(linear,left top,left bottom,from(#1e1e1e),to(#6a6a6a));
    background: -webkit-linear-gradient(#1e1e1e,#6a6a6a);
    background: -moz-linear-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
    background: -moz-gradient(center top,#1e1e1e 0%,#6a6a6a 100%);
}

.ui-slider-horizontal {
    height:.5em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: -1px;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: -1px;
}



ul.wc-tabs {
  text-align: center;
}

.woocommerce div.product div.summary {

    text-align: center;
}


// Foundation < > WooCommerce overrides

$woocommerce_secondary_color: #567A4A!important;

.label {
  background-color: transparent!important;
}

span.onsale, .woocommerce ul.products li.product .onsale {
    min-height: 0em!important;
    min-width: 0em!important;
    padding: 3px 12px 1px 12px!important;
    font-size: 11px!important;
    //font-weight: 700;
    //position: absolute;
    //text-align: center;
    line-height: 2!important;
    top: 2em!important;
    left: 0em!important;
    right:auto!important;
    margin: 0!important;
    border-radius: 0%!important;
    background-color: $woocommerce_secondary_color;
    background: -moz-linear-gradient(-45deg, #567a4a 0%, #747748 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #567a4a 0%,#747748 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #567a4a 0%,#747748 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#567a4a', endColorstr='#747748',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    //color: #fff;
    z-index: 1!important;
    text-transform: uppercase!important;
}

.woocommerce div.product p.price, .woocommerce div.product span.price, span.price {
  color: rgba(0,0,0,0.4)!important;
  font-size: 1.25em;
}

body.single-product p.price {
  font-size: 28px!important;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
//font-size: 100%;
//margin: 0;
//line-height: 1;
//cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 1px!important;
    left: auto;
    color: #fff!important;
    background-color: #000!important;
  //  border: 0;
    display: inline-block;
  //  background-image: none;
  //  -webkit-box-shadow: none;
  //  box-shadow: none;
    //text-shadow: none;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
//  border-bottom: 1px solid rgba(0,0,0,0.1)!important;

}

.product_meta {
  border-top: 1px solid rgba(0,0,0,0.1)!important;
  border-bottom: 1px solid rgba(0,0,0,0.1)!important;
  text-transform: uppercase!important;
  font-size: 12px!important;
  padding-top: 25px!important;
  padding-bottom: 25px!important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    position: absolute;
    // content: ' ';
    // width: 100%;
    // bottom: 0;
    // left: 0;
    // border-bottom: none!important;
    // z-index: 1;
}

// Tabs

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none!important;
    background-color: none!important;
    // display: inline-block;
    position: unset!important;
    // z-index: 0;
    // border-radius: 4px 4px 0 0;
    // margin: 0 -5px;
    // padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    background-color: #fff!important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: none!important;
    // position: absolute;
    // bottom: -1px;
    // width: 5px;
    // height: 5px;
    // content: ' ';
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    // position: absolute;
    // content: ' ';
    // width: 100%;
    // bottom: 0;
    // left: 0;
    border-bottom: none!important;
    // z-index: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
    color: rgba(0,0,0,1)!important;
    //text-shadow: inherit;
    border-bottom: 2px solid rgba(0,0,0,1)!important;
}

#gallery {
  margin: 45px 0 0 0;
}

// Tables

.woocommerce table.shop_attributes th {
    text-align: right!important;
    width: 150px;
    font-weight: 700;
    padding: 8px 28px 8px 28px!important;
    border-top: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0!important;
    line-height: 1.5;
    color: rgba(0,0,0,1)!important;
}

.woocommerce table.shop_attributes td {
    font-style: normal!important;
    padding: 0;
    border-top: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0;
    line-height: 1.5;
}

.woocommerce table.shop_attributes td p {
    // font-size: 16px!important;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    padding: 1em 2em 1em 3.5em;
    margin: 0 0 2em;
    position: relative;
    background-color: rgba(0,0,0,0.05)!important;
    color: #515151;
    border-top: 3px solid rgba(0,0,0,1)!important;
    list-style: none outside;
    width: auto;
    word-wrap: break-word;
}

.woocommerce-message::before {
    content: '\e015';
    color: $woocommerce_secondary_color;
}

.single-product .flex-control-nav.flex-control-thumbs li {
    // float: left;
    // width: 18.6%!important;
    // margin-bottom: 8px;
    // padding: 0px;
    // background: transparent;
    // border: 1px solid #eee;
    // margin-left: 0;
    // margin-right: 0.5em;
    margin-top: 25px!important;
}

// .single-product .flex-control-nav.flex-control-thumbs li:nth-child(5n+5) {
//     margin-right: 0 !important;
// }

.site-header .sticky.is-stuck {
  z-index: 10;
}

label.frm_primary_label {
  display: none!important;
}

button.frm_button_submit {
  //width: 100%!important;
}

ul.gallery-category {
  margin: 0 0 0 0!important;

 li {
      text-transform: uppercase;
      font-size: 14px;
    }

}

section#custom-contact {

  p {
    padding-bottom: 25px;
  }

  border-top: 1px solid rgba(0,0,0,0.10);
  padding-top: 25px;
}

// Single project

section.galerij {

  img {
    padding: 15px 0px 15px 0px;
  }

  margin: 15px 0px 50px 0px;
}

section.acf-contact {
  margin-bottom: 25px;
}

.woocommerce .widget_shopping_cart .buttons a, .woocommerce.widget_shopping_cart .buttons a {
    margin-bottom: 15px!important;
}

header.archive-header {
    margin: 50px 0 4rem 0;
}

.framework-filter {
  margin-top: 15px;
}

// #features a, #gallery a {
//   font-size: 15px;
// }

body.home {

.column {
  display: block;
}
}

#recent-products h1 {
  text-align: center;
  padding-bottom: 25px;
  padding-top: 15px;
}


.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    font-size: 1.5em!important;
}

.woocommerce .star-rating  {
    position: absolute!important;
    margin: 0 auto!important;
    right: 3.5%!important;
    top: 9%!important;
}

.product .star-rating span:before, .product .star-rating:before {
    color: #7577EA!important;
}

.button.secondary, .button.secondary:hover {
    //background-color: #9975B9;
    color: #fff;
}

.woocommerce-store-notice, p.demo_store {
    position: fixed!important;
    top: unset!important;
    bottom: 0!important;
    left: 0;
    right:0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: 1em 0;
    text-align: center;
    background-color: #9B9CEF!important;
    color: #fff;
    z-index: 99998;
    -webkit-box-shadow: 0 1px 1em rgba(0,0,0,.2);
    box-shadow: 0 1px 1em rgba(0,0,0,.2);
    display: none;
}

body.home .masonry-css {
  margin-bottom: 38px;
}

body.page-template-page-template-contact button {
  width: 100%;
}

header.archive-header {
    margin: 15px 0 1rem 0;
}

// From the WP editor
li.orbit-slide a {
	color: #fff;
}

legend {
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 10px;
	font-weight: bold;
}

#social-follow {
    margin: 12px 0 22px 0;
}

#features .front_page_content_1 {
    margin-bottom: 5px;
}

.woocommerce-account .woocommerce-MyAccount-content button.button {
    font-size: 70%;
}

.woocommerce-variation-price {
	padding: 0 0 25px 0;
	text-align: left;
}

#product-addons-total {
	text-align: left;
}

// Custom css

article .entry-content ol {
	font-size: 20px;
	line-height: 1.8;
}

article .entry-content ul {
	font-size: 20px;
	line-height: 1.8;
}

#content p {
    font-size: 20px;
}
p {
    line-height: 1.8;
}

hr.style12 {
	height: 6px;
	background: url(https://marliesdinnissen.nl/wp-content/themes/framework/library/src/img/hr-12.png) repeat-x 0 0;
    border: 0;
}
